.radio_question label {
  height: fit-content;
}

.radio_question img {
  outline: 1px solid black;
  aspect-ratio: 1 / 1;
  width: 10rem;
  border-radius: 5px;
}

.form > * {
  margin-bottom: 2.5rem;
}

.submit_button {
  transition: background-color 0.5s;
}

.submit_button:hover {
  background-color: lightcyan;
}

.submit_button:active {
  outline-color: black;
}